<nav class="navbar navbar-dark bg-primary p-2">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
    alt=" logo Angular"
    width="120px"
    height="120px"
  />
  <a href="/" class="navbar-brand">Angular Votes</a>
</nav>
<div class="container p-4">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mt-4">
        <h3 class="card-header">Agrega un Título y un Enlace</h3>
        <form class="card-body">
          <label for="title">Título:</label>
          <input
            type="text"
            name="title"
            #title
            class="form-control"
            autofocus
          />
          <label for="link">Enlace:</label>
          <input type="text" name="link" #link class="form-control" required />
          <div class="d-grid gap-2">
            <button
              class="btn btn-primary btn-block mt-4"
              type="button"
              (click)="addLink(title,link)"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


    <app-link *ngFor="let link of links" [link]="link"></app-link>

</div>
